//Font Weights

$Fw-regular: 400;
$Fw-medium: 500;
$Fw-semiBold: 600;
$Fw-bold: 700;
$Fw-extraBold: 800;

//Font Family

$Ff-primary: 'Poppins', sans-serif;

//Colors

$Clr-primary-Red: hsl(0, 100%, 74%);
$Clr-primary-Green: hsl(154, 59%, 51%);
$Clr-accent-Blue: hsl(248, 32%, 49%);
$Clr-neutral-Dark-Blue: hsl(249, 10%, 26%);
$Clr-neutral-Grayish-Blue: hsl(246, 25%, 77%);
