@import 'variables.scss';
@import 'mixins.scss';
@import 'resets.scss';

body {
	font-size: 16px;
	font-family: $Ff-primary;
	background-color: $Clr-primary-Red;
	background-image: url('./images/bg-intro-desktop.png');
	font-family: $Ff-primary;
}
.signUpForm {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
